:root {
    --blue-400: #4B7BE5;
    --blue-600: #456dc5;

    --black-700: #383838;
    --black-800: #1e1e1e;

    --white-100: #fefefe;
    --white-200: #e6e6e6;

}

body {
    background-color: var(--white-100);    
}

body #root{
    width: 100%;
    height: 100%;
}
