*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --blue-400: #4B7BE5;
    --blue-600: #456dc5;

    --black-700: #383838;
    --black-800: #1e1e1e;

    --white-100: #fefefe;
    --white-200: #e6e6e6;

}

body {
    background-color: var(--white-100);    
}

html,body,#root{
    height: 100%;
}