.login {
    background-color: var(--blac);
}

.imagemLogo {
    position: relative;
    /* posição pode ficar bugada, antes era absolute no figma*/
    left: 400px;
    right: 400px;
    top: 20px;
    bottom: 55.9%;
    width: 400px;
}

h1 {
    text-align: center;
}

.text {
    width: 266px; /* Peguei o que tinha no figma, sem motificação ainda */
    height: 24px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 24px;
    /* identical to box height, or 75% */

    letter-spacing: 0.01em;

    /* Black */

    color: #363942;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}